/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}
.menu:before {
    content: "[";
}
.menu:after {
    content: "]";
}
.menu > li {
    display: inline;
}
.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}
.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}
.bookmarkAdd,
.bookmarkSelect {
    display: inline-block;
    vertical-align: middle;
    padding: 2px;
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
}
.tagAdd {
    display: block;
    vertical-align: middle;
    padding: 2px;
    background-color: lightblue;
    border-radius: 10px;
    text-align: center;
    width: 460px;
    margin-top: 20px;
}
.tag {
    background-color: bisque;
    border-radius: 6px;
    margin: 5px;
}
.bookmark {
    background-color: bisque;
    border-radius: 6px;
    font-size: 25px;
}